@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.showNavbar {
  animation: showNav 0.5s ease-in forwards;
}

@keyframes showNav {
  0% {
    height: 0px;
  }
  100% {
    height: 280px;
  }
}
